<%= form_for @upload do |f| %>
	<%= render 'errors' %>
	<%= f.fields_for :sender do |ff| %>
		<div>
			<%= ff.label :name, 'Your name' %>
			<%= ff.text_field :name %>
		</div>
		<div>
			<%= ff.label :email, 'Your email address' %>
			<%= ff.text_field :email %>
		</div>
	<% end %>

	<%= f.fields_for :recipients do |ff| %>
		<div>
			<%= ff.label :email, "Recipient's email address" %>
			<%= ff.text_field :email %>
		</div>
	<% end %>

	<%= f.fields_for :documents do |ff| %>
		<div>
			<%= ff.label :attachment %>
			<%= ff.file_field :attachment %>
		</div>
	<% end %>

	<%= f.submit 'Upload' %>
<% end %>
